.team-card {
  list-style-type: none;
}
.link {
  height: 100px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff33;
  margin: 10px;
  border: 1px solid #ffffff;
  border-radius: 10px;
}
.team-card-image {
  height: 70px;
  width: 60px;
  margin: 10px;
}
.team-card-name {
  font-size: 20px;
  color: white;
  padding: 20px;
}
